<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table {
            border: 1px solid black;
        }

        td {
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>Danh sách yêu thích</h1>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>IDShoes</td>
                <td>IDUser</td>
            </tr>
        </thead>
        <tbody>
            <% favorites.forEach(function(favorite){ %>
                <tr>
                    <td>
                        <%= favorite.id %>
                    </td>
                    <td>
                        <%= favorite.idShoes %>
                    </td>
                    <td>
                        <%= favorite.idUser %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

</body>

</html>